* {
    margin: 0;
}

img {
    width: 200px;
    height: 200px;
}

html{
    font-family: 'Roboto', sans-serif;
}

main {
        padding-bottom: 60px; 
    }
    
a {
    text-decoration: none;
    color: rgb(15, 151, 15);
}

a:hover {
    color: rgb(4, 34, 4);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%; 
    background-color: #f8f6f6;
}

header {
    background-color: orangered;
    height: 3em;
}

footer {
    background-color: rgb(171, 214, 86);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%; 
}

.main-page {
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 2em;
    padding-top: 15px;
}

.food-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: .5em;
}

.scrumptious-recipes {
    padding-top: 25px;
    margin-left: 1em;
}

.all-food {
    padding-top: 25px;
    margin-left: 1.3em;
}

.footer-text {
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    padding-top: 5px;

}

.tacos {
    display: flex;
    margin-bottom: 20px;
    margin-left: 1em;
}

.vegetarian {
    margin-left: .2em;
}

h2{
    margin: 1em;
}

.steps2 {
    margin: 1.5em;
}

.ingredients {
    margin: 1em; 
}

.table tr:nth-child(odd) {
    background-color: lightblue; /* Apply specific styles to even-numbered elements */
}

#Amount_food_item {
    background-color: white;
}
#food-item {
    background-color: white;
}